.inter{
    margin-top: 25px;
    width: 30px;
}
.icons{
    display: flex;
    justify-content:space-between;
    /*margin-left: 800px;*/
    gap: 30px;
 
}

.gift{
    margin-top: 25px;
    width: 30px;
}.nav{
    display: flex;
    justify-content: space-between;
    
    
}.logo{
    display: flex;
    align-items: center;
  

}
.logo img{
    width: 110px;
    margin-left: 20px;
    margin-top: 7px;
    

}

.user{
  height: 40px;
   
    justify-content: left;
}
.user{
    margin-top: 20px;
    width: 35px;
    border-radius: 14px;
}

.h6{
    margin-left: 26px;
    font-size: 9.5px;
    margin-top: 2px;
}.opt{
    margin-left: 20px;
    margin-top: -12px;
    border: none;
    
}
.opt{
    background-color: rgb(233, 233, 233);
    border-radius: 30px;
    margin-top: 9px;
    margin-bottom: 9px;
}
.h1{
    text-align: center;
   
}

.box{
    display: flex;
    align-items: center;
    gap: 190px;
    padding: 5px 50px;
    border-radius: 50px;
    background-color: gainsboro;
    width: 400px;
    height: auto;
}
.contnaire img{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    padding: 20px;
     border-radius: 40px;
     display: flex;
     justify-content: center;
}
.box input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 650px;
    background: transparent;
}
.bg{
    display: flex;
    justify-content: center;
    gap: 60px;
   
}
.bg2{
    display: flex;
    justify-content: center;
    gap: 60px;
}
h2{
   text-align: center;
}
.search{
    background: none;
   border: none;
   cursor: pointer;
}
.search img {
    width: 20px;
    height: 20px;
}
 .imagg{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.quest{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid black;
     
}

.sn{
    border-top:1px solid black;
}

.re{
    border: none;
}

.list{
    padding: 0 20px;
    margin: 40px 0;

}
@media (max-width: 768px) {

  .nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
  }

  .logo img {
    margin-left: 0;

  }

  .icons {
    display: none
  }

  .box {
    width: 90%;
    gap: 20px;
    padding: 8px 20px;
  }

  .box input {
    width: 100%;
    font-size: 14px;
  }

  .bg,
  .bg2 {
    flex-direction: column;
    align-items: center;
  }

  .contnaire img {
    width: 90%;
    height: auto;
  }

  .quest h2 {
    font-size: 16px;
  }

}
.serc{
    display: flex;
    gap: 50px;
}


.pagination {
  display: flex;
  gap: 15px;
justify-content: center;
  padding: 40px;
}

.pagination span {
  padding: 6px 12px;
  border-radius: 50%;
  cursor: pointer;
  color: green;
}

.pagination .active {
  background: green;
  color: white;
}
.pagination .active1 {
  background:rgb(217, 215, 215);
  color:green;
}

.footer {
  background: #000;
  color: #fff;
  padding: 50px 40px 30px;
}


.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.social-icons {
  display: flex;
  gap: 30px;
  font-size: 22px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.rating2 {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}

.stars {
  color: #00b67a;
}

 
.footer-links {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 18px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.footer-links a:hover {
  text-decoration: underline;
}

 
.footer hr {
  border: none;
  border-top: 1px solid #333;
  margin: 30px 0;
}

 
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.apps {
  display: flex;
  align-items: center;
}

.apps button {
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 18px;
  margin-right: 10px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-footer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
}

.fa-google-play,
.fa-apple {
  font-size: 22px;
}

.info-footer span {
  font-size: 8px;
}

.bottom-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}


@media (max-width: 600px) {
  .footer-links {
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .bottom-links a {
    margin: 0 10px;
  }

  .fa-google-play,
  .fa-apple {
    font-size: 14px;
  }
}


