* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial;
}

header {
  height: 70px;
  padding: 0 40px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

}

.logo-section {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo-text {
  font-size: 32px;
  font-weight: 700;
  color: #00a680;
  letter-spacing: -1px;
}

.tagline {
  font-size: 9px;
  color: #333;
  margin-top: -4px;
}


.discover-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  padding: 8px 12px;
}

.discover-btn:hover {
  background-color: #f5f5f5;
  border-radius: 4px;
}

header .left {
  display: flex;
  align-items: center;
  gap: 25px;
}

header .left a {
  display: flex;
  align-items: center;
  font-weight: 500;
}

header .right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.group_icon {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 20px;
}

.profile-icon {
  cursor: pointer;
  font-size: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(189, 189, 189);
  padding: 5px;

  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.down_headre {
  font-size: 15px;
  color: black;

}

.icon_header_profile {

  padding: 5px;
  border-radius: 50%;
  background-color: rgb(95, 94, 94);
}

.menu_headre {
  display: none;
}

@media (max-width: 600px) {
  .discover-btn {
    display: none;

  }

  .group_icon {
    display: none;
  }

  .down_header_icon {
    font-size: 15px;
    color: black;
    display: none;


  }

  .profile-icon {
    border: 1px solid white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);

  }

  .menu_headre {
    display: block;
    font-size: 25px;
  }

}


@media (max-width: 992px) {
  .discover-btn {
    display: none;

  }

  .group_icon {
    display: none;
  }

  .down_header_icon {
    font-size: 15px;
    color: black;
    display: none;


  }

  .profile-icon {
    border: 1px solid white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);

  }

  .menu_headre {
    display: block;
    font-size: 25px;
  }

}

.hero {
  position: relative;
  height: 60vh;
  background: url("https://img.freepik.com/photos-gratuite/arbres-verts-pres-plan-eau-pendant-journee_395237-20.jpg?semt=ais_hybrid&w=740&q=80") center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}

.hero-content {
  position: relative;
  color: #fff;
  text-align: center;
  max-width: 900px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 12px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 40px;
}


.search-bar {
  background: #fff;
  border-radius: 999px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: 50vw;

}

.box {
  flex: 1;
  padding: 10px 22px;
  text-align: left;

  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s;
}

.box:hover {
  background-color: transparent;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);

}

.sm:hover {
  background-color: transparent;
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.2);

}

.box small {
  font-size: 12px;
  font-weight: 700;
  display: block;
  color: black;

}

.box input {
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;

}

.divider {
  width: 1px;
  height: 42px;
  background: #ddd;
}

.search-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background: #008768;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}




@media (max-width: 992px) {
  .hero-content h1 {
    font-size: 44px;
  }

  .search-bar {
    flex-direction: column;
    border-radius: 20px;
    gap: 10px;
    width: 100%;
    padding: 10px;
  }

  .divider {
    display: none;
  }

  .search-btn {
    width: 100%;
    border-radius: 12px;
  }

  .box {
    width: 100%;
  }

  .box input {

    width: 100%;

  }
}


@media (max-width: 600px) {
  .navbar {
    padding: 0 20px;
  }

  .left a {
    display: none;
  }

  .hero-content h1 {
    font-size: 32px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero {
    min-height: 60vh;
  }

  .box {
    width: 100%;
  }

  .box input {

    width: 100%;

  }
}



@media (max-width: 320px) {

  .hero {
    min-height: 65vh;
    padding: 10px;
  }

  .hero-content {
    padding: 10px;
  }

  .hero-content h1 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .hero-content p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .search-bar {
    width: 100%;
    padding: 8px;
    gap: 8px;
  }

  .box {
    padding: 8px 12px;
  }

  .box small {
    font-size: 11px;
  }

  .box input {
    font-size: 13px;
  }

  .search-btn {
    height: 42px;
    font-size: 16px;
  }
}



.container {
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 20px;
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 70px;
}


.features {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 90px;
}



.feature {
  flex: 1;
  min-width: 220px;
  max-width: 260px;
  margin: auto;
}

.feature {
  flex: 1;
  width: 220px;
  width: 260px;
  margin: 0 auto;
}



.icon {
  width: 56px;
  height: 56px;
  margin: 0 auto 20px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 26px;
  height: 26px;

}

.pink {
  background: #f9d6da;
}

.green {
  background: #dff4ec;
}

.yellow {
  background: #f9f1c9;
}

.blue {
  background: #e6f3f3;
}

.feature h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.feature p {
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}


.login-box {
  background: #f4ecfb;
  border-radius: 18px;
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
}


.login-box h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.login-box p {
  font-size: 14px;
  margin-bottom: 30px;
}

.login-box .gh {
  color: #000000;
  font-weight: 600;
  text-decoration: underline;

}

.login-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 16px 70px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
  
}



.destinations {
  max-width: 1300px;
  margin: 100px auto;
  padding: 0 20px;
  text-align: center;
}

.destinations-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 60px;
  font-size: 14px;
  color: #666;
}

.destinations-header .line {
  flex: 1;
  height: 1px;
  background: #ddd;
  max-width: 400px;
}

.destinations-header a {
  color: #000;
  text-decoration: underline;
}

.destinations h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;

}

.destinations-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.destination-card {
  position: relative;
  width: 200px;
  height: 140px;
  border-radius: 14px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.destination-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  transition: background 0.3s;

}

.destination-card:hover::after {
  background: rgba(0, 0, 0, 0);
}

.destination-card span {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  z-index: 1;
}

.Keep-box {
  margin-top: 70px;
  padding: 35px 20px;
  width: 100%;
  background-color: rgb(235, 250, 247);


}


.Keep-box h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.Keep-box p {
  font-size: 16px;
  width: 50vh;
  margin: 10px auto 5px auto;
  text-align: center;

}


@media (max-width: 992px) {
  .destination-card {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .Keep-box p {
    width: 100%;
  }

  .destinations h2 {
    font-size: 24px;
  }

  .destinations-header {
    flex-direction: column;
    gap: 10px;
  }

  .destination-card {
    width: 100%;
    height: 160px;
  }

}


.attractions {
  max-width: 1200px;
  margin: 120px auto;
  padding: 0 20px;

}

.attractions h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 70px;
}

.attractions-wrapper {
  display: flex;
  gap: 80px;
  justify-content: start;
  align-items: flex-start;
}


.attractions-column {
  display: flex;
  flex-direction: column;
  gap: 50px;
}


.attraction-item {
  display: flex;
  gap: 18px;
  align-items: flex-start;
  cursor: pointer;
}

.attraction-item img {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  object-fit: cover;
  flex-shrink: 0;
}

.attraction-item h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
}

.attraction-item p {
  font-size: 15px;
  color: #555;
}


@media (max-width: 992px) {
  .attractions-wrapper {
    gap: 40px;
  }
}


@media (max-width: 600px) {
  .attractions h2 {
    font-size: 24px;
  }

  .attractions-wrapper {
    flex-direction: column;
    gap: 40px;
  }

  .attractions-column {
    gap: 30px;
  }
}


.top-tours h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  width: 280px;
}

.image {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.heart {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  padding: 6px 8px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

.location {
  font-size: 14px;
  color: #555;
  margin: 10px 0 4px;
}

.rating {
  font-size: 14px;
  color: #2e7d32;
  margin-bottom: 6px;
}


.card h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.price {
  font-size: 15px;
}



.trustpilot-section {
  display: flex;
  gap: 40px;
  align-items: flex-start;

  margin: 100px 20px;
}

.trustpilot-left {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.trustpilot-left h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.stars span {
  color: #00b67a;
  font-size: 28px;
}

.stars .half {
  color: #dcdce6;
}

.based {
  margin: 10px 0 20px;
  font-size: 14px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: bold;
}

.logo .star {
  color: #00b67a;
  font-size: 28px;
}

.trustpilot-reviews {
  display: flex;
  gap: 30px;
}

.review {
  width: 260px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-stars {
  color: #00b67a;
}

.time {
  font-size: 12px;
  color: #555;
}

.review h3 {
  margin: 10px 0 6px;
}

.review p {
  font-size: 14px;
}

.author {
  font-size: 13px;
  color: #555;
}

.note {
  margin-top: 30px;
  font-size: 13px;
  color: #555;
}


@media (max-width: 1024px) {
  .trustpilot-section {
    flex-direction: column;
    gap: 30px;
  }


  .trustpilot-left {
    width: 100%;
    text-align: center;
  }

  .review {
    width: 45%;
  }
}


@media (max-width: 600px) {


  .trustpilot-left {
    width: 100%;
    text-align: center;
  }

  .logo {
    justify-content: center;
  }

  .trustpilot-reviews {
    flex-direction: column;
    gap: 20px;
  }

  .review {
    width: 100%;
  }
}


.destinations1 {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 80px;
}

.destinations1 h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

.destinations-grid1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.destination-card1 {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.destination-card1:hover {
  transform: translateY(-5px);
}

.destination-card1 img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.content {
  padding: 15px;
}

.content h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.content p {
  font-size: 14px;
  color: #555;
}


@media (max-width: 1024px) {
  .destinations-grid1 {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 600px) {


  .destinations1 h2 {
    font-size: 26px;
  }

  .destinations-grid1 {
    grid-template-columns: 1fr;
  }

  .destination-card1 img {
    height: 200px;
  }
}


.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  background-color: #ebfaf7;
  margin: 80px 0;
}

.fa-thumbs-up,
.fa-flip-horizontal {
  font-size: 24px;
}

.popular-section {
  margin-bottom: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.popular-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  line-height: 1.8;
}

.links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.links a:hover {
  text-decoration: underline;
}

.links span {
  color: #999;
}


@media (max-width: 600px) {


  .popular-section h2 {
    font-size: 22px;
  }

  .links a {
    font-size: 14px;
  }

  .links span {
    display: none;
  }
}



.footer {
  background: #000;
  color: #fff;
  padding: 50px 40px 30px;
}


.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.social-icons {
  display: flex;
  gap: 30px;
  font-size: 22px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.rating {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}

.stars {
  color: #00b67a;
}

/* LINKS */
.footer-links {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 18px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* LINE */
.footer hr {
  border: none;
  border-top: 1px solid #333;
  margin: 30px 0;
}

/* BOTTOM */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.apps {
  display: flex;
  align-items: center;
}

.apps button {
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 18px;
  margin-right: 10px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-footer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
}

.fa-google-play,
.fa-apple {
  font-size: 22px;
}

.info-footer span {
  font-size: 8px;
}

.bottom-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}


@media (max-width: 600px) {
  .footer-links {
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .bottom-links a {
    margin: 0 10px;
  }

  .fa-google-play,
  .fa-apple {
    font-size: 14px;
  }
}