body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  height: 30px;
  background-color: red;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo img {
  height: 25px !important;
  width: auto !important;
  cursor: pointer;
}
.discover.img {
  color: black;
}

.discover {
  cursor: pointer;
}

/* Right */
.nav-right {
  display: flex;
  align-items: center;
  gap: 88px;
}

.nav-right .icon-img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: black;
  border-radius: 50%;
  background-color: black;
}
.nav-right .body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  height: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo img {
  height: 25px !important;
  width: auto !important;
  cursor: pointer;
}
.discover.img {
  color: black;
}

.discover {
  cursor: pointer;
}

/* Right */
.nav-right {
  display: flex;
  align-items: center;
  gap: 88px;
}

.nav-right .icon-img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: black;
  border-radius: 50%;
  background-color: black;
}
.nav-right. body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  height: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo img {
  height: 25px !important;
  width: auto !important;
  cursor: pointer;
}
.discover.img {
  color: black;
}

.discover {
  cursor: pointer;
}

/* Right */
.nav-right {
  display: flex;
  align-items: center;
  gap: 88px;
}

.nav-right .icon-img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: black;
  border-radius: 50%;
  background-color: black;
}


.nav-right .body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  height: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo img {
  height: 25px !important;
  width: auto !important;
  cursor: pointer;
}
.discover.img {
  color: black;
}

.discover {
  cursor: pointer;
}

/* Right */
.nav-right {
  display: flex;
  align-items: center;
  gap: 88px;
}

.nav-right .icon-img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: black;
  border-radius: 50%;
  background-color: black;
}
.icon-circle {
  width: 30px;
  height: 40px;
  border-radius: 55%;
  background-color: #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 4px;
}

.icon-circle img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
.user-rectangle {
  background-color: #ffffff;
  padding: 3px 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
}


.nav-center input {
  width: 320px;
  padding: 10px 18px;
  border: 1px solid #ccc;
  border-radius: 999px; 
  outline: none;
  font-size: 14px;
}

.sub-menu {
  display: flex;
  gap: 9px;
  padding-left: 20px;
  margin-top: 14px;
 font-size: 12px;   /* حجم النص */
  font-weight: 400;  /* وزن الخط */
  color: #212020;       /* لون النص */
  background-color: aqua;
   
  
}

.sub-menu a {
  text-decoration: none;
}

.menu-right{
  display: flex;
  justify-content: right;
  padding-right: 10px;
  font-size: 12px;   /* حجم النص */
  font-weight: 400;  /* وزن الخط */
  color: #212020;
  cursor: pointer;
}


.grand-titre h1{
  font-size:larger;
  font-weight: 700;
  padding-left:20px ;
}

.booking-options {
  display: flex;
  gap: 10px; /* space between buttons */
}

.option1 button {
  background-color: #ffcc00;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

.option2 button {
  background-color: #00ccff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

.option3 button {
  background-color: #ff6699;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}
.options-2{
  display:flex;
  gap: 6px;
  margin-top: 17px;
}

.tous-options{
  
}
.slider{
  display: flex;
  gap: 2px;
  display: flex;            /* items f row */
  overflow-x: auto;         /* scroll horizontal ila bzaaf */
  gap: 10px;                /* space between buttons */
  padding: 10px;
  border: none;
  scroll-behavior: smooth;  /* scroll smooth */
}

.horizontal{
  display:flex;
  padding: 0px 20px;
}

.titre2{
  display: flex;
  
}

.titre2 h1{
  font-size: medium;
  margin-bottom: 15px;

}


.gallery {
  display: flex;
  flex-wrap: wrap;        /* الصور كيتقسمو على صفوف */
  gap: 40px;              /* المسافة بين الصور */
   padding: 0px 20px;
}

.gallery img {
  width: 250px;           /* largeur صغيرة */
  height: 200px;          /* hauteur مناسبة */
  border-radius: 8px;
  cursor: pointer;
 
}

.gallery-item{
  border: 1px solid #ddd;   /* الكادر */
  border-radius: 16px;
  overflow: hidden;         /* باش يبان منظم */
  width: 260px;
  background: #fff;
  overflow: hidden;   /* ضروري باش الزوم ميفلتش */
  
}

.gallery-item img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease; /* حركة ناعمة */
}

.caption{
  padding: 12px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.gallery-item:hover img{
  transform: scale(1.1); /* الزوم */
}













